# OS files
.DS_Store
Thumbs.db

# Editor directories and files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs
*.log
npm-debug.log*

# Node modules (if you add them later)
node_modules/
npm-debug.log

# Build directories
dist/
build/ 